
*.*~
vscode/.config/Code/Cache/

vscode/.config/Code/CachedConfigurations/

vscode/.config/Code/CachedData/

vscode/.config/Code/CachedProfilesData/

vscode/.config/Code/Code Cache/


vscode/.config/Code/User/History/

vscode/.config/Code/User/workspaceStorage/

vscode/.config/Code/User/globalStorage/

vscode/.config/Code/Crashpad/

vscode/.config/Code/DawnGraphiteCache/

vscode/.config/Code/code.lock

vscode/.config/Code/DawnWebGPUCache/

vscode/.config/Code/Dictionaries/

vscode/.config/Code/GPUCache/

vscode/.config/Code/Local Storage/

vscode/.config/Code/Service Worker/

vscode/.config/Code/Session Storage/

vscode/.config/Code/Shared Dictionary/

vscode/.config/Code/WebStorage/

vscode/.config/Code/.org.chromium.Chromium.xlD2QP

vscode/.config/Code/.org.chromium.Chromium.y5XsdX

vscode/.config/Code/Cookies

vscode/.config/Code/Cookies-journal

vscode/.config/Code/languagepacks.json

vscode/.config/Code/machineid

vscode/.config/Code/Network Persistent State

vscode/.config/Code/Preferences

vscode/.config/Code/SharedStorage

vscode/.config/Code/SharedStorage-wal

vscode/.config/Code/TransportSecurity

vscode/.config/Code/Trust Tokens

vscode/.config/Code/Trust Tokens-journal

vscode/.config/Code/logs/
